.AtbGroupBoxWidget .title {
	font-size: 16px;
	font-weight: bold;
}

.AtbGroupBoxWidget .subtitle {
	color: #9c9c9c;
}

.AtbWelcomePage .CssAppIcon {
	border: none;
	background-image: url('resource:///com/keygenqt/aurora-toolbox/icons/scalable/actions/com.keygenqt.aurora-toolbox.svg');
	background-size: 130px 130px;
	background-repeat: no-repeat;
	background-position: center;
	min-height: 130px;
}

.AtbWelcomePage .CssInfoText {
	font-weight: bold;
}

.AtbWelcomePage .CssWelcomeText {
	font-size: 20px;
	font-weight: bold;
}

.is-dark .AtbWelcomePage .CssWelcomeText {
	color: #70b394;
}

.is-light .AtbWelcomePage .CssWelcomeText {
	color: #274a3f;
}

.is-dark .InputError {
	background-color: #463d3b;
}

.is-light .InputError {
	background-color: #f6e9eb;
}

.is-dark .TextError {
	color: #e95f47;
}

.is-light .TextError {
	color: #a30f21;
}

.is-dark .TextSuccess {
	color: #63ff85;
}

.is-light .TextSuccess {
	color: #0ba820;
}
